[submodule "p1-stats"]
	path = p1-stats
	url = git@github.com:temttae/p1-stats.git
[submodule "p2-cv"]
	path = p2-cv
	url = git@github.com:temttae/p2-cv.git
[submodule "p3-euchre"]
	path = p3-euchre
	url = git@github.com:temttae/p3-euchre.git
