[submodule "p1-stats"]
	path = p1-stats
	url = git@github.com:temttae/eecs280-p1-stats.git
[submodule "p2-cv"]
	path = p2-cv
	url = git@github.com:temttae/eecs280-p2-cv.git
[submodule "p3-euchre"]
	path = p3-euchre
	url = git@github.com:temttae/eecs280-p3-euchre.git
[submodule "p4-web"]
	path = p4-web
	url = git@github.com:temttae/eecs280-p4-web.git
[submodule "p5-ml"]
	path = p5-ml
	url = git@github.com:temttae/eecs280-p5-ml.git
